@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #fdcc89;
  --secondary-color: #153757;
}

.apl-button-fixed-short {
  @apply rounded px-1 py-2 text-primary bg-secondary max-h-14;
}

.apl-button-fixed {
  @apply rounded px-4 py-2 text-primary bg-secondary max-h-14;
}

.apl-button-fixed-big {
  @apply rounded px-6 py-3 text-primary bg-secondary max-h-14;
}

.apl-button-expanded {
  @apply w-full flex justify-center rounded px-4 py-2 text-primary bg-secondary max-h-14;
}

.apl-alert-button-fixed {
  @apply rounded px-4 py-2 text-white bg-red-600 max-h-14;
}

.apl-alert-button-fixed-big {
  @apply rounded px-6 py-3 text-white bg-red-600 max-h-14;
}

.apl-alert-button-fixed-expanded {
  @apply w-full flex justify-center rounded px-4 py-2 text-white bg-red-600 max-h-14;
}
