<h1>Bestätige die Änderung deiner E-Mail-Adresse auf dem Generation-D Portal</h1>

<h2>Liebe*r Bewerber*in,</h2>

<p>du hast eine Anfrage zur Änderung deiner E-Mail-Adresse auf dem Generation-D Bewerbungsportal gestellt. Bitte bestätige diese Änderung, indem du auf den folgenden Link klickst:</p>
<p><a href="{{ .SiteURL }}/auth/confirm?token_hash={{ .TokenHash }}&type=email_change">Bestätige die Änderung deiner Email</a></p>
<br>
<p>Bitte beachte, dass sich deine E-Mail-Adresse von {{ .Email }} zu {{ .NewEmail }} ändern wird. Falls du diese Änderung nicht angefordert hast oder Fragen dazu hast, kontaktiere uns bitte.</p>
<br>
<p>Vielen Dank für deine Zusammenarbeit, und wir stehen dir gerne unter <a href="mailto:startups@generation-d.org">startups@generation-d.org</a> zur Verfügung, falls weitere Hilfe benötigt wird.</p>
<br>
<p>Herzliche Grüße,</p>
<p>Das Generation-D Team</p>