<h1>Passwort zurücksetzen für dein Generation-D Konto</h1>

<h2>Liebe*r Bewerber*in,</h2>

<p>du hast eine Anfrage zum Zurücksetzen deines Passworts auf dem Generation-D Bewerbungsportal gestellt. Um dein Passwort zurückzusetzen, klicke bitte auf den folgenden Link:</p>
<p><a href="{{ .ConfirmationURL }}/auth/confirm?token_hash={{ .TokenHash }}&type=recovery&next=/login/update-password">Passwort Zurücksetzen</a></p>
<br>
<p>Falls du diese Anfrage nicht gestellt hast oder Fragen dazu hast, kontaktiere uns bitte unter <a href="mailto:startups@generation-d.org">startups@generation-d.org</a>.</p>
<p>(Bitte beachte, dass der Link nur für eine begrenzte Zeit gültig ist.)</p>
<br>
<p>Nach dem erfolgreichen Zurücksetzen kannst du dich mit deinem neuen Passwort anmelden.</p>
<p>Vielen Dank für deine Zusammenarbeit, und wir stehen dir gerne zur Verfügung, falls weitere Hilfe benötigt wird.</p>
<br>
<p>Herzliche Grüße,</p>
<p>Das Generation-D Team</p>