<h1>Bestätige deine Registrierung auf dem Generation-D Bewerbungsportal</h1>

<h2>Liebe*r Bewerber*in,</h2>

<p>herzlichen Glückwunsch! Du hast dich erfolgreich auf dem Generation-D Bewerbungsportal registriert. Um deine Registrierung abzuschließen und vollen Zugriff auf alle Funktionen zu erhalten, klicke bitte auf den folgenden Link:</p>
<p><a href="{{ .SiteURL }}/auth/confirm?token_hash={{ .TokenHash }}&type=email">Bestätige deine Email</a></p>
<br>
<p>Nach der Bestätigung kannst du deine Bewerbung starten und in die Welt des sozialen Unternehmertums eintauchen.</p>
<br>
<p>Wir schätzen deine Teilnahme an Generation-D und freuen uns darauf, gemeinsam innovative Ideen zu erkunden. Bei Fragen oder Problemen stehen wir dir gerne unter <a href="mailto:startups@generation-d.org">startups@generation-d.org</a> zur Verfügung.</p>
<br>
<p>Herzliche Grüße,</p>
<p>Das Generation-D Team</p>